@media only screen and (max-width: 1280px) {

  .App {
    padding: 0;
    height: 89vh;
  }

  .main {
    flex-direction: column;
    height: 100%;
  }

  .user-list__header, .message-feed__header, .room-list__header {
    font-size: 2.5vh;
    height: 1em;
    padding: 0.25em;
    text-align: center;
  }

  .user-list {
    width: 100%;

    &__users{
      flex-direction: row;
      overflow-x: scroll;

      &__user{
        flex-direction: column;

        &__name {
          font-size: 1.75vh;
          padding: 0;
          margin-bottom: 0.2em;
          text-align: center;
        }
      }
    }

  }
  .message-feed {
    width: 100vw;
    height: 65vh;
    margin: 0;

    &__form {
      width: 95%;

      &__input {
        width: 75%;
        margin-left: 10px;
      }
    }
  }

  .room-list {
    width: 100%;

    &__rooms{
      flex-direction: row;
      overflow-x: scroll;

      &__room{
        flex-direction: column;

        &__image {
          width: 5vh;
          height: 5vh;
          padding: 0;
        }

        &__name {
          font-size: 1.75vh;
          padding: 0;
          margin-bottom: 0.2em;
          text-align: center;
        }
      }
    }
  }

}