@import 'styles/variables.scss';

.get-user {
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 35vh;

  &__greeting {
    color: $color-medium;
    background-color: $color-light;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px $color-dark;
  }

  &__form {
    height: 2.5em;
    
    &__input {
      font-size: 1.5rem;
      width: 10em;
      border-width: 0;
      border-radius: 5px;
      box-shadow: 5px 5px $color-dark;
      background-color: $color-light;
      color: $color-medium;
      padding-left: 0.5em;
    }

    &__button {
      margin: 0 5vw;
      border-width: 0;
      border-radius: 5px;
      font-size: 1rem;
      color: $color-light;
      background-color: $color-medium;
      box-shadow: 5px 5px $color-dark;
    }
  }

  &__nameexists {
    font-size: 1rem;
    font-weight: bold;
    color: $color-medium;
    background-color: $color-light;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px $color-dark;    
  }
}




@media only screen and (max-width: 1280px) {
  .get-user {
    &__greeting {
      width: 90%;
      margin: 2vh 6.5vw;
    }

    &__form {
      width: 90%;
      flex-direction: column;
      align-items: center;
      height: auto;

      &__input {
        width: 100%;
        height: 2em;
        margin-right: 0;
      }

      &__button {
        font-size: 2rem;
        width: 50%;
        margin-top: 3vh;
      }
    }
  }

}