@import 'styles/variables.scss';

.room-list {
  background-color: $color-light;
  border-radius: 5px;

  &__header {
    color: $color-light;
    background-color: $color-dark;
    text-align: center;
    margin: 0;
    padding: 15px 30px;
    border-radius: 5px 5px 0 0;
  }

  &__rooms {
    flex-direction: column;
    
    
    &__room {
      justify-content: start;
      cursor: pointer;
      padding: 5px 0;
      
      &:hover {
        background-color: $color-medium
      }

      &__unread {
        position: absolute;
        margin-top: -45px;
        margin-left: 60px;
        font-size: 4em;
        //top: calc( + 110px);

        color: orange;

      }

      &__image {
        width: 50px;
        height: 50px;
        border-radius: 25%;
        background-color: $color-light;
        border: $color-image solid 3px ;
        margin: 3px 10px;
        padding: 5px;
      }

      &__name {
        padding: 10% 0;
        font-size: 1.2rem;
        font-weight: bold;


      }
    }
  }
}

@media only screen and (max-width: 1280px) {

  .room-list {
    width: 100%;

    &__header{
      font-size: 2.5vh;
      height: 1em;
      padding: 0.25em;
      text-align: center;
    }

    &__rooms{
      flex-direction: row;
      overflow-x: scroll;
      padding: 0 2vw;

      &__room {
        flex-direction: column;
        margin: 0 0.5vh;
        align-items: center;

        &__image {
          width: 5vh;
          height: 5vh;
          padding: 0;
        }

        &__name {
          font-size: 1rem;
          padding: 0;
          margin-bottom: 0.2em;
          text-align: center;
        }
      }
    }
  }
}