h1 {
  color: red;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div, section, article, form {
  display: flex;
}

mark {
  background-color: inherit;
}

#root {
  background-color: cornflowerblue;
  font-size: 16px;
}

.App {
  padding: 20px;
  flex-direction: column;
  width: 100%;
  height: 95vh;
  justify-content: center;
}

.main {
  height: 95%;
  justify-content: center;
}

.list-section {
  width: 250px;
  flex-direction: column;
}




@media only screen and (max-width: 1280px) {

  .App {
    padding: 0;
    height: 89vh;
  }

  .main {
    flex-direction: column;
    height: 100%;
  }
}