.message-feed {
  background-color: burlywood;
  min-width: 250px;
  max-width: 750px;
  width: 100%;
  flex-direction: column;

  &__header {
    color: chartreuse;
    padding-left: 25px;
  }

  &__message {
    max-width: 50%;
    margin: 10px 25px;
    
    &__content {
      background-color: khaki;
      border-radius: 6px;
      width: fit-content;
      padding: 0.5em;
      margin: 0 10px;
    }

    &__time {
      font-size: 0.75rem;
      padding: 0.6em 0;
      width: 7em;
    }
  }

  &__form {
    margin: 10px;

    &__input {
      border-radius: 6px;
      background-color: whitesmoke;
      font-size: 1rem;
      padding: 0.4em;
      width: 30em;
      margin: 0 25px 0 105px;
    }
  }
}